#Fullname {
  border-width: thin;
  text-align: left;
  width: 50%;
  margin-bottom: auto;
  font-size: 50px;
}
div.box{
  margin: auto;
  position: absolute;
  background-color: #0e91ce;
  top: 140px;
  right: -731px;
  left: 17px;
  border: 30px;
  width: 518px;
  height: 35px;
}
#Status {
  border-width: thin;
  text-align: left;
  margin-top: 1px;
  width: 30%;
  font-size: 30px;
  font-weight: lighter;
}
#horizontal {
  border-bottom: 2px solid rgb(0, 0, 0);
            margin-top: 5px;
            width: 100%;
}

body {
  margin: 150px;
  margin-bottom: 40px;
  margin-top: 40px;
}

div.square{
  margin:auto;
  border: 5px solid #ddd;
  background-color: #a01e1e00;
  padding: 50px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 70px;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #sched1, #sched2, #sched3, #sched4, #sched5, #sched6, #sched7, #sched8{
    text-align: center;
  }
  #schedule {
    text-align: center;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 21px;
    margin-bottom: 30px;
  }
  
  #name, #email {
    display: inline;
    border-radius:15px;
    padding: 9px;
    height: 30px;
    width: 290px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    background-color: #f8f8f8;
  }
  
  #Submit {
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background: #f8f8f8;
    font-weight: 500;
    color: #222;
    
  }
#msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#feedback {
  text-align: center;
}