#Fullname {
  position: relative;
  color:#f8f8f8;
  border-width: thin;
  width: 100%;
  margin-bottom: auto;
  font-size: 40px;
  text-align: center;
  right: -21px;
  top: 16px;
}

header.background {
  margin-top: 130px;
  height: 200px;
  background-color:#4c8adc;
  padding: 45px;
  opacity: 0.8;
  background-image:  linear-gradient(#5592e3 2px, transparent 2px), linear-gradient(90deg, #5592e3 2px, transparent 2px), linear-gradient(#5592e3 1px, transparent 1px), linear-gradient(90deg, #5592e3 1px, #4c8adc 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div.box{
  border-top:#000 1px solid;
  margin: auto;
  border: 5px;
  position: absolute;
  top: 122px;
  right: -5px;
  width: 43%;
  height: 35px;
  
}
#Status {
  position: relative;
  color:#f8f8f8;
  border-width: thin;
  margin-top: 1px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  right: 1px;
  top: 36px;
  font-weight: lighter;
}

div.about {
  position: relative;
  display:block;
  float:left;
  width:43%;
  margin: 20px;
}
div.contact {
  position: relative;
  display: block;
  float: right;
  width: 45%;
  top: -18px;
  height: -webkit-fill-available;
  padding: 20px;
  margin: 20px;

}
p {
  line-height: 1.5;
  font-size: 20px;
}

ul {
  list-style: none;
}

ul li {
  font-size: 20px;
  margin-bottom: 20px;
}

#section2, #section1, #section3, #section4 {
  display:block;
  position: relative;
  margin:20px;
  height:min-content;
}

div.LineSection1, div.LineSection2, div.LineSection3, div.LineSection4, div.LineSection5, div.LineSection6, div.LineSection7{
  border-bottom: 1px solid #888;
  border: 10px;
  width: 100%;
  height: 1px;
  top: 36px;
  background-color:#888;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
}



body {
  margin: 190px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #ffffffb9;
}

div.square{
  position: relative;
  margin:auto;
  border: 1px solid #ddd;
  background-color: #ffffff;
  padding: 60px;
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2), 0 11px 12px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 300px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 70px;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #sched1, #sched2, #sched3, #sched4, #sched5, #sched6, #sched7, #sched8{
    text-align: center;
  }
  #schedule {
    text-align: center;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 21px;
    margin-bottom: 30px;
  }
  #profile {
    overflow: hidden;
    display: block;
    margin:auto;
    position: absolute;
    object-fit: none;
    border: 0.7rem solid white;
    padding: 0px;

    top: -211px;
    left: 17px;
    width: 19%;
    height: 242px;
    margin-left: 30px;
    margin-right: 21px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.2); 
  }
  
  #name, #email {
    display: inline;
    border-radius:15px;
    padding: 9px;
    height: 30px;
    width: 290px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    background-color: #f8f8f8;
  }
  
  #Submit {
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background: #f8f8f8;
    font-weight: 500;
    color: #222;
    
  }
#msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#feedback {
  text-align: center;
}

