footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #sched1, #sched2, #sched3, #sched4, #sched5, #sched6, #sched7, #sched8{
    text-align: center;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 21px;
    margin-bottom: 30px;
  }
  
  
  #Submit {
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background: #e7ebee;
    font-weight: 500;
    color: #222;
    
  }
