

.body-before, .body-after {

  content: '';
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  background: #1c2020;
  z-index: 2;
}
.body-left {
  content: '';
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: rgba(225, 221, 218, 255);
  z-index: 1;
}
.body-before {
  top: 0;
  transform: translateY(-100%);
  z-index: 5000;

}
.body-left {
  left: 0;
  transform: translateX(-100%);


}


.body-after {
  bottom: 0;
  transform: translateY(100%);
  z-index: 5000;
          
}




.int-click {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* vertical-align: middle; */
  align-items: center;
  /* position: unset; */
  text-align: center;
  align-content: center;
  /* align-content: flex-start; */
  /* left: 50%; */
  /* transform: translateX(-50%);*/

}
.int-click .loader {
  left: 46%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  /* left: 45%; */
  transform: rotate(-90deg) translate(-50%,-50%);
  z-index: 5000;
  opacity: 0;
  margin: auto;
  height: -4px;
  height: 100px;
}

.int-click .loader {
  left:46%;

}

#loader{

  transform: rotate(-90deg) translate(-50%,-50%);
}

.int-click .loader .line{
  height: 2px;
  width: 30px;
  background: white;
  margin-top: 50px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  animation: anim 1s ease infinite;
}
.int-click .loader .line::before{
  content: '';
  height: 10px;
  width: 10px;
  background: rgba(136, 28, 27, 255);
  border-radius: 50%;
  position: absolute;
  left:0%;
  margin-top:-4px;
}
.int-click .loader .line::after{
  content: '';
  height: 10px;
  width: 10px;
  background: rgba(136, 28, 27, 255);
  border-radius: 50%;
  position: absolute;
  left:100%;
  margin-top:-4px;
}
.int-click .loader .bar1{
  margin-top: 50px;
  animation-delay: 0s;
  animation-duration: 1s;
}
.int-click .loader .bar2{
  margin-top: 80px;
  animation-delay: 0.2s;
  animation-duration: 1s;
}
.int-click .loader .bar3{
  margin-top: 110px;
  animation-delay: 0.3s;
  animation-duration: 1s;
}
.int-click .loader .bar4{
  margin-top: 140px;
  animation-delay: 0.4s;
  animation-duration: 1s;
}
.int-click .loader .bar5{
  margin-top: 170px;
  animation-delay: 0.5s;
  animation-duration: 1s;
}
.int-click .loader .bar6{
  margin-top: 200px;
  animation-delay: 0.6s;
  animation-duration: 1s;
}
.int-click .loader .bar7{
  margin-top: 230px;
  animation-delay: 0.7s;
  animation-duration: 1s;
}
.int-click .loader .bar8{
  margin-top: 260px;
  animation-delay: 0.8s;
  animation-duration: 1s;
}
@keyframes anim
{
  0%{
    width:30px;
  }
  50%{
    width:0px;
  }
  100%{
    width: 30px;
  }
}

.center {
  font-family: arial;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  width: fit-content;
  height: fit-content;

}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(0deg, rgba(136, 28, 27, 1) 15%, rgba(135, 15, 0, 0.8715861344537815) 50%, rgba(136, 28, 27, 1) 88%, rgba(234, 230, 229, 255));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;

  
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
  transition: 0.2;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
  transition: 0.2;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
  transition: 0.2;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
  transition: 0.2;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
  transition: 0.2;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
  transition: 0.2;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
  transition: 0.2;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
  transition: 0.2;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
  transition: 0.2;
}

@keyframes wave {
  0% {
    transform: scale(0);
    transition: 0.2;
  }
  20% {
    transform: scale(0.2);
  }
  30% {
    scale: scale(0.5);
  }
  50% {
    transform: scale(1);
    transition: 0.2;
  }
  100% {
    transform: scale(0);
    transition: 0.2;
  }
}


.int-click .msg{
  font-family: arial;
  font-size: 40px;
  color:white;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
  opacity: 0;
}